<ion-header>
  <ion-toolbar>
    <div class="home__flex-header">
      <h2 class="home__title-header" text-left>Instrucciones</h2>
      <img class="home__logo" src="./assets/icon/logo.png" alt="logo syloper">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>npm i leaflet</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">global css -> @import "~leaflet/dist/leaflet.css";</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">

        <!-- component import * as Leaflet from 'leaflet';
        declaramos map: L.Map;
        ionViewDidEnter() {
        this.leafletMap();
        }

        leafletMap() {
        this.map = L.map('mapId').setView([-32.94682, -60.63932], 5);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(
        this.map
        ); -->

      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        template -> div id="mapId" style="width: 100%; height: 100%"> div
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>