<ion-tabs class="tabs__font">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" class="tabs__ripple">
      <ion-icon class="tabs__color-button" name="map-outline"></ion-icon>
      <ion-label class="tabs__color-button">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="google-maps" class="tabs__ripple">
      <ion-icon class="tabs__color-button" name="map-outline"></ion-icon>
      <ion-label class="tabs__color-button">Google Maps</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="leaflet" class="tabs__ripple">
      <ion-icon class="tabs__color-button" name="map-outline"></ion-icon>
      <ion-label class="tabs__color-button">Leaflet</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>