.home{
    &__logo{
        max-width: 30%;
    }
    &__flex-header{
        display: flex;
        justify-content: space-between;
    }
    &__title-header{
        font-size: 20px;
        padding: 0 1rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
    }
}